<!-- <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/> -->

<link rel="stylesheet" href="../../../assets/css/style.css" />
    
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/ob_5a4415_66172a43fed0d35f3ef83a42b6425b5b-large.jpg'); height: 90vh !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title" style="margin-top: 230px !important">A wide range of exotic dishes.</h1>
        <h4>Your ultimate destination for food at the convenience of your home. The food wizards have come together to finally give you the spell to satisfy your hunger.</h4>
        <br>
        <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Watch video
        </a> -->
      </div>
    </div>
    <div class="arrow bounce">
      <a class="fa fa-arrow-down fa-2x" style="color: red" href="userprofile/bookinghistory#bkcontent"></a>
    </div>
  </div>
</div>
<div class="main main-raised" id="bkcontent">
  <div class="section section-basic" style="padding: 30px !important">
    <div class="container">
      <div class="tim-typo" style="padding-left: 0">
        <h2 class="title" style="width: auto; text-align: center">Booking History</h2>
      </div>
      <div class="table-responsive" *ngIf="hasMap(); else empty">
        <table class="table table-shopping">
          <thead>
            <tr>
              <th class="text-center">No.</th>
              <th class="th-description text-center">Item</th>
              <th class="th-description text-center">Descripton</th>
              <th class="text-center">Qty</th>
              <th class="text-center">Amount</th>
              <th class="text-center">Booking Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bks of bookingService.bookings; let i = index">
              <td class="text-center">
                {{i + 1}}
              </td> 
              <td class="text-center">
                {{bks.fname}}
              </td>
              <td class="text-center">
                {{bks.fdesc}}
              </td>
              <td class="td-number text-center">
                <div class="btn-group text-center" style="margin: 0px 0px !important;">
                  <span>{{bks.quantity}}</span>
                </div>
              </td>
              <td class="td-number text-center">
                &#8377;{{bks.price}}
              </td>
              <td class="text-center">
                {{bks.date | date:'medium' }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #empty>
        <div class="tim-typo" style="padding-left: 0">
        <h3 class="title" style="width: auto; text-align: center">You have not made a booking yet! Add delicious dishes to order now!</h3>
        </div>
      </ng-template>
      <div style="text-align: center; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <a class="btn btn-danger btn-lg" role="button" aria-disabled="true" style="margin-bottom: 20px; font-size: 15pt; padding: 0.6rem 1.7rem !important;" (click)="gotocatalog()">Catalog</a>
    </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="assets/js/materialize.js"></script> -->
<router-outlet></router-outlet>