<style>
    .badge1 {
        position: absolute;
        top: 1px;
        right: 7px;
        padding: 0px 6px 0px 6px;
        border-radius: 50%;
        background-color: red;
        color: white;
}
</style>
<nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">    
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" routerLink="home">
            Foozards </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <i class="material-icons">apps</i> Explore
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                <a routerLink="catalog" class="dropdown-item">
                    <i class="material-icons">view_list</i> Catalog
                </a>
                <a routerLink="about" class="dropdown-item">
                    <i class="material-icons">content_paste</i> About
                </a>
                <a routerLink="login" class="dropdown-item">
                    <i class="material-icons">perm_identity</i> Login
                </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                <i class="material-icons">contact_support</i> Contact Us
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank" data-original-title="Follow us on Twitter">
                <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank" data-original-title="Like us on Facebook">
                <i class="fa fa-facebook-square"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank" data-original-title="Follow us on Instagram">
                <i class="fa fa-instagram" style="font-size: 180%;"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" rel="tooltip" title="" data-placement="bottom" routerLink="/userprofile/booking" data-original-title="View Cart">
                    <span class="badge1" *ngIf="foodService.counter > 0">{{foodService.counter}}</span>
                    <span><i class="material-icons" style="font-size: 200%;">shopping_cart</i></span>
                </a>
            </li>
            <li class="dropdown nav-item" *ngIf="userDetails">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                    <i class="material-icons">person</i> Welcome {{userDetails.cname.split(' ')[0]}}
                </a>
                <div class="dropdown-menu dropdown-with-icons">
                <a routerLink="#" class="dropdown-item">
                    <i class="material-icons">person_outline</i> Profile
                </a>
                <a class="dropdown-item" (click)="onLogout()" style="cursor: pointer">
                    <i class="material-icons">exit_to_app</i> Logout
                </a>
                </div>
            </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
