<!-- <link type="text/css" rel="stylesheet" href="assets/css/materialize.css"  media="screen,projection"/> -->

<link rel="stylesheet" href="../../../assets/css/style.css" />
    
<div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/pizza-background.jpg'); height: 90vh !important;">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title" style="margin-top: 230px !important">A wide range of exotic dishes.</h1>
        <h4>Your ultimate destination for food at the convenience of your home. The food wizards have come together to finally give you the spell to satisfy your hunger.</h4>
        <br>
        <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Watch video
        </a> -->
      </div>
    </div>
    <div class="arrow bounce" *ngIf="userService.isLoggedIn()">
      <a class="fa fa-arrow-down fa-2x" style="color: red" href="userprofile/catalog#fdcontent"></a>
    </div>
    <div class="arrow bounce" *ngIf="!userService.isLoggedIn()">
      <a class="fa fa-arrow-down fa-2x" style="color: red" href="catalog#fdcontent"></a>
    </div>
  </div>
</div>
<div class="main main-raised" id="fdcontent">
  <div class="section section-basic" style="padding: 30px !important">
    <div class="container">
      <div class="tim-typo" style="padding-left: 0">
        <h2 class="title" style="width: auto; text-align: center">Our Menu</h2>
      </div>
      <ul class="nav nav-pills nav-pills-rose">
        <!-- <li class="nav-item"><a class="nav-link active" href="#pill1" data-toggle="tab">Profile</a></li> -->
        <li class="nav-item" *ngFor = "let cat of foodService.cats; let i = index">
          <a class="nav-link active" href="#pill{{i}}" data-toggle="tab" *ngIf="i === 0; else elseBlock">
            {{cat.category_name}}
          </a>
          <ng-template #elseBlock>
            <a class="nav-link" href="#pill{{i}}" data-toggle="tab">
              {{cat.category_name}}
            </a>
          </ng-template>
        </li>
      </ul>
      <br>
      <div class="tab-content tab-space" style="padding: 20px 0 20px 0px !important">
        <ng-container *ngFor = "let cat of foodService.cats; let i = index">
          <div class="tab-pane active" id="pill{{i}}" *ngIf="i === 0; else elseBlock">
            <div class="row">
              <ng-container *ngFor = 'let fd of foodService.foods'>
                <div class="col-lg-4 col-md-6 col-sm-8" *ngIf="fd.category_id === cat.category_id"> 
                    <div class="card" style="width: 20rem;">
                      <img class="card-img-top" [src]="getSafeUrl(fd.fpic)" alt="Card image cap">
                      <div class="card-body">
                        <div class="card-text">
                          <h4 style="font-weight: bold">{{fd.fname}}</h4>
                          <h5 style="font-style: italic; text-align: justify; height: 150px;">
                            {{fd.fdesc}}
                          </h5>
                          <h5>
                            {{fd.fprice | currency:"INR"}}
                            <ng-container *ngIf="flag">
                                <span  class="quantity buttons_added" style="padding-left: 128px">
                                  <!-- <button class="btn btn-primary btn-fab btn-danger btn-round">
                                    <i class="material-icons">add</i>
                                  </button> -->
                                  <input type="button" value="-" class="minus" (click)="subCounter(fd._id, counter.value)">
                                  <input #counter type="number" step="1" min="0" max="" name="quantity" value="{{getNumber(fd._id)}}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                  <input type="button" value="+" class="plus" (click)="addCounter(fd._id, counter.value)">
                                </span>
                            </ng-container>
                          </h5>
                        </div>
                      </div>
                    </div>
                </div>
              </ng-container>
            </div>
          </div>
          <ng-template #elseBlock>
            <div class="tab-pane" id="pill{{i}}">
              <div class="row">
                <ng-container *ngFor = 'let fd of foodService.foods'>
                  <div class="col-lg-4 col-md-6 col-sm-8" *ngIf="fd.category_id === cat.category_id"> 
                      <div class="card" style="width: 20rem;">
                        <img class="card-img-top" [src]="getSafeUrl(fd.fpic)" alt="Card image cap">
                        <div class="card-body">
                          <div class="card-text">
                            <h4 style="font-weight: bold">{{fd.fname}}</h4>
                            <h5 style="font-style: italic; text-align: justify; height: 150px;">
                              {{fd.fdesc}}
                            </h5>
                            <h5>
                              {{fd.fprice | currency:"INR"}}
                              <ng-container *ngIf="flag">
                                <span  class="quantity buttons_added" style="padding-left: 128px">
                                  <!-- <button class="btn btn-primary btn-fab btn-danger btn-round">
                                    <i class="material-icons">add</i>
                                  </button> -->
                                  <input type="button" value="-" class="minus" (click)="subCounter(fd._id, counter.value)">
                                  <input #counter type="number" step="1" min="0" max="" name="quantity" value="{{getNumber(fd._id)}}" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                  <input type="button" value="+" class="plus" (click)="addCounter(fd._id, counter.value)">
                                </span>
                              </ng-container>
                            </h5>
                          </div>
                        </div>
                      </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-template>
        </ng-container>
      </div>
      <div style="text-align: center; color: white; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <a class="btn btn-danger btn-lg" role="button" aria-disabled="true" style="margin-bottom: 20px; font-size: 15pt; padding: 0.6rem 1.7rem !important;" (click)="gotobook()">Book Now</a>
      </div>
    </div>
  </div>
</div>
<!-- <script type="text/javascript" src="assets/js/materialize.js"></script> -->