<body class="login-page sidebar-collapse">
    <div class="page-header header-filter" style="background-image: url('../assets/img/bg7.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
              <form class="form" #signInForm="ngForm" (ngSubmit)="signInForm.valid && onSubmit(signInForm)">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Login</h4>
                  <div class="social-line">
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="description text-center">Or Be Classical</p>
                <div class="card-body">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email..." name="email" #email="ngModel" [(ngModel)]="model.email" [pattern]="emailRegex" required [ngClass]="{'invalid-textbox' :signInForm.submitted && !email.valid }">
                    <div *ngIf="signInForm.submitted && email.errors?.pattern">
                      <label class="validation-message">Invalid email address.</label>
                    </div>
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password..." name="password" #password="ngModel" [(ngModel)]="model.password" required minlength="6" [ngClass]="{'invalid-textbox' :signInForm.submitted && !password.valid }">
                    <div *ngIf="signInForm.submitted && password.errors?.minlength">
                      <label class="validation-message">Minimum 6 characters.</label>
                    </div>
                  </div>
                </div>
                <div class="footer text-center">
                  <button class="btn btn-primary btn-link btn-wd btn-lg" (ngSubmit)="signInForm.valid && onSubmit(signInForm)" style="padding-left: 10px">Get Started</button>
                  <a class="btn btn-primary btn-link btn-wd btn-lg" routerLink="/signup" style="padding-left: 25px">Sign Up</a>
                </div>
                <div class="alert" *ngIf="serverErrorMessages">
                  {{serverErrorMessages}}
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
</body>
