<body class="profile-page sidebar-collapse">
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('../assets/img/blog-nov-fruits-veggies-540x320-img.jpg');"></div>
    <div class="main main-raised">
      <div class="profile-content">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto mr-auto">
              <div class="profile">
                <div class="avatar">
                  <img src="../assets/img/faces/kisspng-avatar.png" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                </div>
                <div class="name">
                  <h2 class="title">{{getCname()}}</h2>
                  <h6>Pizza Lover</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="description text-center" style="line-height: 2.0em">
              <div style="font-size: 20px !important"><span class="title">Email:&nbsp;</span><span style="color: black">{{getCemail()}}</span></div>
              <div style="font-size: 20px !important"><span class="title">Phone:&nbsp;</span><span style="color: black">{{getCphone()}}</span></div>
              <div style="font-size: 20px !important"><span class="title">Address:&nbsp;</span><span style="color: black">{{getCaddress()}}</span></div>
              <div style="font-size: 20px !important"><span class="title">Orders:&nbsp;</span><span style="color: black">{{getCorderno()}}</span></div>
              <br>
          </div>
        </div>
      </div>
    </div>
  </body>